extends layout 

block content 
    h1.fancy Downtown Donuts 

    div.left.bg-green
        h2 Humble Beginnings
        br
        p 
            |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra magna nunc, quis dictum quam tincidunt quis. Aenean suscipit vehicula varius. Vivamus vulputate est sed massa hendrerit, nec tempor sapien bibendum. Donec in egestas neque. Ut elementum nulla elit, nec dignissim libero facilisis non. Proin lacinia purus sit amet tortor eleifend, vitae consectetur libero scelerisque. Quisque convallis diam a feugiat vehicula. Vivamus egestas id metus sit amet blandit. Sed varius eu nunc nec hendrerit. Sed sem nulla, fermentum sit amet lacus eget, feugiat aliquet risus. Etiam non est turpis. Praesent malesuada elementum quam eu facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod urna sit amet finibus dictum.

    div.right.bg-white
        h2 Now...
        br
        p 
            | Curabitur libero ligula, molestie et sapien ac, ornare efficitur orci. Vestibulum eleifend nibh ut justo malesuada condimentum. Pellentesque eu dui posuere, euismod ipsum eget, sagittis risus. Integer eros tortor, molestie ut aliquam eu, tincidunt at diam. Vestibulum aliquet tortor vitae sem faucibus, non finibus libero ullamcorper. Duis vel tempor elit. Maecenas in tristique ipsum. Aliquam tincidunt mi a ligula sollicitudin bibendum. Pellentesque eu nibh nulla.
            | Suspendisse ut eros at leo malesuada blandit. Proin tellus mauris, imperdiet nec porta vitae, scelerisque sit amet nibh. In ac luctus felis. Aliquam eu ex viverra, sagittis ipsum eu, placerat erat. Maecenas urna massa, molestie ut dignissim eget, pharetra at sapien. Cras aliquam egestas neque, ut euismod dui consectetur ut. Nullam et lectus laoreet, semper ante eget, congue lacus. Cras id aliquam nulla, vel accumsan velit.

    div#center-with-img
        div.left.bg-green
            h2 Legacy 
            br
            p 
                |Nulla gravida ipsum ut nisi interdum vestibulum ut ac lectus. Etiam eu dapibus lectus. Morbi egestas porttitor libero, quis posuere leo iaculis sit amet. Maecenas sagittis vitae justo sed tincidunt. Aenean sit amet pharetra est. Quisque pellentesque ex feugiat, mattis risus nec, feugiat nulla. Nam ultricies odio sit amet enim porttitor dapibus.
                |Proin quam risus, ultrices efficitur augue id, commodo auctor mi. Integer tempus id nisl et egestas. Donec eleifend mi vitae eros venenatis egestas. Mauris pellentesque gravida eros laoreet imperdiet. Maecenas blandit, nibh a placerat aliquet, neque dolor tempus lorem, a venenatis felis erat nec lorem. Curabitur congue risus nisl, at vehicula tortor pretium ac. Donec fermentum efficitur rhoncus. Vestibulum ut urna nisi. Cras a egestas odio. 
                | Sed accumsan libero ipsum, sed vehicula eros interdum vel. Mauris bibendum tincidunt efficitur. Nullam ac vestibulum tellus. Quisque posuere bibendum arcu ut lacinia. Proin porttitor libero tellus, vitae congue libero blandit ac. Nam pharetra condimentum sollicitudin. Pellentesque cursus magna at erat tincidunt, ut placerat lorem consequat. In lectus orci, euismod interdum sollicitudin non, porta sagittis lectus. Vivamus cursus, nulla ac eleifend interdum, ex enim rutrum felis, gravida blandit tortor metus vel neque. Maecenas porttitor hendrerit vestibulum. Etiam consectetur vehicula nunc dapibus lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                |Donec auctor consequat augue sed ultricies. Integer condimentum orci in viverra tempus. Morbi tempus quam erat, eu condimentum nulla porttitor sit amet. Nulla blandit nisi sed sem convallis venenatis. Quisque sed tellus at nunc faucibus placerat ac vitae justo. Proin non massa orci. Donec venenatis diam in laoreet ullamcorper. Proin leo velit, faucibus cursus augue ac, auctor imperdiet nisi. Aliquam imperdiet molestie sem, varius commodo nulla lacinia id. Nam luctus iaculis accumsan. Maecenas ac arcu vel neque porta aliquet nec sed massa. Nunc in erat mattis ex gravida porttitor. Mauris facilisis ac metus eget sollicitudin. Pellentesque magna mi, posuere ut ligula sed, volutpat rhoncus nulla. Fusce bibendum tortor vel est eleifend, id mollis magna dignissim.
        div.bg-white(style='padding:50px')
            img(src='/images/emoji.jpg' alt ='idk man' width = '400px')