extends layout

block content
    main.home
        img(src='/images/logoDark.png' width='25%' alt='Downtown Donuts Logo')

        h2 Welcome to the best donut shop in the entire Treasure Valley...
        p At Downtown Donuts, we take pride in our outstanding quality.
            |  Every donut is lovingly prepared the night before using all-natural 
            | ingredients and left to rise until the morning, where we fry them 
            | in expeller-pressed canola oil to ensure the crispiest outer shell,
            | with a soft and delicious inside. Choose from over 30 of our original 
            | flavors, or let us pick for you in our Variety Box!

        h3 
            a(href='/menu') View our menu

        h3 
            a(href='/about') Our story 

        h3 
            a(href='/reviews') Had a great experience? Leave a review! 

