extends layout 

block content
    div(style='margin-left:30px;')
        h1 #{title}
        img(alt="Lorem ipsum dolor sit amet" src='/images/logoDark.png' width='25%')
        br

        br

        p(style='margin-bottom:0px;')=details