@import url(https://fonts.googleapis.com/css2?family=Italianno&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

body {
  background-color: #10291D;
  color:#f7f7f7;
  font-family: "Montserrat";

  margin:0px;
  padding:0px;
  box-sizing:border-box;
  overflow-x: hidden;
}

.top{
  display: flex;
  flex-direction: row;
  gap:40px;
  justify-content: flex-start;
  align-items: center;
  margin-left:20px;
  margin-bottom: 0px;
}

.fancy {
  font-family:"italianno";
  font-weight: 400;
  font-style: normal;
  font-size:64px;

  display:flex;
  justify-content:center;
  align-items:center;

  margin-bottom:0px;
  padding-bottom:0px;

  margin-top:0px;
  padding-top:0px;
}
.top > * {
    font-family: "Montserrat" ;
    color:#f7f7f7;
    text-decoration: none;
    flex-basis:200px;
    flex-grow:1;
}

.bg-white {
  background-color: #f7f7f7;
  color:#000000;
  font-family: "montserrat";
}

.bg-green{
  background-color:#10291D;
  color:#f7f7f7;
  font-family: "montserrat";
}

.right{
  padding:20px;
  text-align: right;
}

.left{
  padding:20px;
  text-align:left;
}

.item-block{
  display:flex;
  align-items:flex-end;
  gap:10px;
  margin-right:50px;
  margin-left:50px;
}

.item-name{
  font-weight:bold;
  text-decoration: none;
  white-space: nowrap;
}

.dashes{
  flex-grow: 1;
  border-bottom: 2px dotted;
  position:relative;
  bottom:8px;
}

.price {
  font-weight:bold;
}

.description{
  padding-top:5px;
  padding-bottom:5px;
  font-size:0.9rem;
  margin-left:50px
}

.subtext{
  text-align: center;
  margin:0px;
  padding:0px;
}

.menuCategory{
  text-align:center;
}

#center-with-img{
  display:flex;
  flex-direction:row;
  align-items:flex-start;
  justify-content: center;
  gap:20px;

  text-align: left;
  padding:20px;
}

a {
  text-decoration: none;
  color:#f7f7f7;
}

a:hover{
  text-decoration: underline;
}

.no-bullet{
  list-style-type:none;
  padding:0px; 
  margin:0px;
}

.saffron {
  color:#f7c64a;
  background-color:#f7c64a;

  border:none;
  height:2px;

  margin:0px;
  padding:0px;
}

.schedule{
  max-width: 450px;
  padding:0;
  margin:0;
  display:flex;
  flex-direction:column;
  gap:10px;
  padding-top:20px
}

.schedule-item{
  display:flex;
  align-items: flex-end;
  gap:10px
}

.date{
  flex-basis:130px;
}

.time, .date {
  white-space: nowrap;
}

.bottom{
  display: flex;
  flex-direction: row;
  gap:40px;
  justify-content: space-between;
  align-items: center;
  margin:0px;
  padding:0px;
  margin-left:50px;
  margin-right:50px;
}

.review-list{
  margin:0;
  padding:0;
  margin-left:20px;
}

.review {
  margin-bottom:10px;
}

.pagination-buttons{
  display: flex;
  flex-direction:row;
  align-items: center;
  gap:20px;
  margin-left:20px;
}

.next-button, .prev-button{
    border:2px solid white;
    background-color: white;
    color:#000000;
    padding:10px;
}

.review-form {
  margin:0;
  padding:0;
  margin-left:20px
}

.home {
    display:flex;
    flex-direction: column;
    align-items:center;
    margin:60px;
    gap:30px;
}

@media only screen and (max-width:800px){

    .item-block {
      margin-right: 0;
      margin-left:0;
    }

    .description{
      margin:0;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .top {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        margin-left: 0;         
        gap: 15px;              
        padding: 20px 0;        
    }

    .top > * { 
        flex-basis: auto;
        flex-grow: 0;
        text-align: center;
    }

    .schedule{
      max-width:100%;
      padding-left:20px;
      padding-right:20px;
    }

    .date{
      min-width: 85px;
    }

    .bottom{
      flex-direction: column;
      align-items:center;
      gap:30px;
      padding-bottom:30px;
      margin:0;
    }
}